services:
  vilinks:
    build:
      context: ../../../Downloads/Compressed/vilinks/vilinks
      dockerfile: docker/Dockerfile
    container_name: vilinks
    ports:
      - "127.0.0.1:${VILINKS_PORT:-8765}:8765"
    environment:
      VILINKS_BIND: "0.0.0.0"
      VILINKS_PORT: "8765"
      VILINKS_DB: "/data/vilinks.db"
      VILINKS_BASE_HOST: "${VILINKS_BASE_HOST:-vi}"
    volumes:
      - "${VILINKS_DATA_DIR:-./.data}:/data"
